body, html {
 margin:0;   
    height:100%;
    width:100%;
}

#tabletApp, #phoneApp {
   opacity:0;
   -webkit-transition:opacity 2s;
   transition:opacity 2s;
}

#tweetview
    h4 {
        display: inline-block;
        font-size: 1em;
        margin: 0.9em;
        float: right;
    }
    h5 {
        display: inline-block;
        font-size: 0.7em;
        margin-left: 5px;
        margin-top:0px
    }
#searchview
    img {
        float: left;
        width: 2em;
        height: 2em;
        margin: 0;
        -webkit-box-shadow: 0 1px 3px #333;
        box-shadow: 0 1px 3px #333;
        -webkit-border-radius: 8px;
        border-radius: 8px;
    }

.centerMe{text-align: center;}
.moreButton{float:right; margin-right:5px; border-radius: 5px;}

    .k-widget .k-tooltip .k-tooltip-validation .k-invalid-msg{ display:none;}
/* Styles from Theme Builder */
.km-ios .km-view .km-content .km-list .km-state-active .km-listview-link {
    background-color: rgb(255, 102, 0);
}
.km-ios .km-view .km-navbar .km-button.km-state-active {
    background-color: rgb(255, 102, 0);
}
.km-ios .km-view .km-tabstrip .km-state-active span.km-icon {
    color: rgb(255, 102, 0);
}
.km-ios .km-view .km-tabstrip .km-button.km-state-active {
    border-color: rgb(255, 102, 0);
}
.km-ios .km-view .km-navbar {
    background-color: rgb(0, 0, 0);
}
.km-android .km-view .km-content .km-list .km-state-active .km-listview-link {
    background-color: rgb(255, 102, 0);
}
.km-android .km-view .km-navbar .km-button.km-state-active {
    background-color: rgb(255, 102, 0);
}
.km-android .km-view .km-tabstrip .km-state-active span.km-icon {
    color: rgb(255, 102, 0);
}
.km-android .km-view .km-tabstrip .km-button.km-state-active {
    border-color: rgb(255, 102, 0);
}
.km-android .km-view .km-navbar {
    background-color: rgb(0, 0, 0);
    background-image: -webkit-gradient(linear,50% 100%,50% 0,color-stop(0, rgba(0,0,0,.2)),color-stop(.5, rgba(0,0,0,.4)),color-stop(.5, rgba(0,0,0,.5)),color-stop(1, rgba(0,0,0,.8)));
    background-image: -moz-linear-gradient(50% 100%,50% 0,rgba(0,0,0,.2),rgba(0,0,0,.4) 50%,rgba(0,0,0,.5) 50%,rgba(0,0,0,.8));
    background-repeat: repeat;
    background-position: 0 0;
}
.km-blackberry .km-view .km-content .km-list .km-state-active .km-listview-link {
    background-color: rgb(255, 102, 0);
}
.km-blackberry .km-view .km-navbar .km-button.km-state-active {
    background-color: rgb(255, 102, 0);
}
.km-blackberry .km-view .km-tabstrip .km-state-active span.km-icon {
    color: rgb(255, 102, 0);
}
.km-blackberry .km-view .km-tabstrip .km-button.km-state-active {
    border-color: rgb(255, 102, 0);
}
.km-blackberry .km-view .km-navbar {
    background-color: rgb(0, 0, 0);
}
